**/output*
*.pyc
*.elf
*.o
*.settings
*.sconsign.dblite
*.org.eclipse.cdt.core.prefs
*.language.settings.xml
*.log
*.jou
*.project
configure.txt
WD-Firmware/demo/build/toolchain/llvm
WD-Firmware/demo/build/toolchain/gcc
WD-Firmware/demo/build/toolchain/binutils
WD-Firmware/demo/build/toolchain/bin
WD-Firmware/croe

lto1

/.metadata/
